<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273230994697-ltl80uboub0vja4kgkoh5ddei5heeomf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273230994697-ltl80uboub0vja4kgkoh5ddei5heeomf</string>
	<key>API_KEY</key>
	<string>AIzaSyDb3XRqOHrp1APujtttzO7hkl2xRjnUwbg</string>
	<key>GCM_SENDER_ID</key>
	<string>273230994697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>abdalazem-saleh.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-80474</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-80474.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273230994697:ios:71879f311ce7e21ee547d8</string>
</dict>
</plist>